body {background-color:black; font-family:arial; color:white}
h1{color:gray; font-family:verdana}

.maindiv
{
    margin: auto; /* Center div on the middle of the screen */
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px; /* Padding creates space around content, inside borders */
    border: 25px;
}
